Load all the csvs into dataframs and analyse.

In [1]:
import pandas as pd
from matchday_demand_forecasting.config import RAW_DATA_DIR, RANDOM_SEED

pd.set_option('display.max_columns', None)

files = ['ORDER_DETAILS.xlsx', 'ORDER_HEADER.xlsx']
data_paths = [RAW_DATA_DIR / file for file in files]

df_1 = pd.read_excel(data_paths[0])
df_2 = pd.read_excel(data_paths[1])

2025-09-26 18:43:54.947 | INFO     | matchday_demand_forecasting.config:<module>:11 - PROJ_ROOT path is: /Users/muhammadalisyed/Desktop/Work/Learning/Machine Learning/Projects/matchday_demand_forecasting
/opt/anaconda3/envs/matchday_demand_forecasting/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/anaconda3/envs/matchday_demand_forecasting/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Filter table 1

In [2]:
df_1_filtered = df_1[['ORDER_HEADER_ID', 'PRODUCT_ID', 'QTY', 'SUB_TOTAL', 'PAID']]
df_1_filtered.head(15)

    ORDER_HEADER_ID  PRODUCT_ID  QTY SUB_TOTAL  PAID
0                 1         289    1       8,5     1
1                 1         255    0         0     1
2                 1         261    0         0     1
3                 1         191    0         0     1
4                 1         448    0         0     1
5                 1         289    1       8,5     1
6                 1         255    0         0     1
7                 1         261    0         0     1
8                 1         191    0         0     1
9                 1         448    0         0     1
10                2         329    1      6,49     1
11                2          98    1      3,99     1
12                2         255    0         0     1
13                2         278    0         0     1
14                3         339    1      6,99     1

SUBTOTAL string and seperated by commas so first need to replace commas with point and then turn to numeric.

In [3]:
df_1_filtered['SUB_TOTAL'] = df_1_filtered['SUB_TOTAL'].str.replace(',', '.', regex=True).astype(float)
df_1_filtered.head()

/var/folders/4c/4g9w277n1wb0ssy88bqbt6680000gn/T/ipykernel_49252/2969580395.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_filtered['SUB_TOTAL'] = df_1_filtered['SUB_TOTAL'].str.replace(',', '.', regex=True).astype(float)

   ORDER_HEADER_ID  PRODUCT_ID  QTY  SUB_TOTAL  PAID
0                1         289    1        8.5     1
1                1         255    0        0.0     1
2                1         261    0        0.0     1
3                1         191    0        0.0     1
4                1         448    0        0.0     1